@use '../utils/variables.scss' as *;
@use '../utils/mixins' as *;

/* #region contact-form */
.contact-form {
  @include flex-vstack(stretch, 32px);

  width: 100%;

  &__inputs-group {
    @include flex-vstack(stretch, 16px);

    width: 100%;
  }

  &__input {
    height: 48px;
    padding: 14px 16px;

    border: none;
    outline: none;
    border-radius: 40px;

    background-color: $color-bg-input;
    color: $color-gray;

    @include input-text;
  }

  &__textarea {
    min-height: 148px;
    padding: 14px 16px;

    border: none;
    border-radius: 16px;

    background-color: $color-bg-input;
    color: $color-gray;

    @include input-text;
  }

  &__button {
    @include section-button;

    @include on-tablet {
      padding-inline: 123px;
    }
  }
}

/* #endregion */
