@use '../utils/variables.scss' as *;
@use '../utils/mixins' as *;

/* #region contact-details */
.contact-details {
  @include flex-vstack(flex-start, 24px);

  width: 100%;

  &__item {
    @include flex-vstack(flex-start, 8px);
  }

  &__label {
    display: block;

    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    color: $color-white;
    font-style: normal;
  }

  &__link {
    display: block;

    line-height: 22px;
    font-weight: 500;
    font-size: 16px;

    text-decoration: none;
    color: $color-white;
    font-style: normal;

    &:hover {
      text-shadow: 1px 1px 4px $color-gray;
    }
  }
}

/* #endregion */
