@use '../utils/variables.scss' as *;
@use '../utils/mixins' as *;

/* #region contacts */
.contacts {
  @include grid-layout(48px);

  &__form {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__info {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 4/-1;
    }

    @include on-desktop {
      grid-column: 9/-1;
    }
  }

  &__title {
    @include section-title;
  }
}

/* #endregion */
