@use '../utils/variables.scss' as *;
@use '../utils/mixins' as *;

/* #region features */
.features {
  @include grid-layout;

  @include on-tablet {
    row-gap: 48px;
  }

  &__title {
    @include section-title;

    @include on-tablet {
      margin-bottom: 16px;
    }
  }

  &__link {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 4/-4;
    }

    @include section-button;
  }
}

/* #endregion */
