@use '../utils/variables.scss' as *;
@use '../utils/mixins' as *;

/* #region footer */
.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/footer-background.png);

  @include on-tablet {
    background-image: url(../images/footer-background-tablet.png);
    height: 480px;
  }

  @include on-desktop {
    background-image: url(../images/footer-background-desktop.png);
    height: 555px;
  }
}

/* #endregion */
