@use '../utils/variables.scss' as *;
@use '../utils/mixins' as *;

/* #region intro */
.intro {
  @include flex-vstack(flex-start, 32px);

  @include on-tablet {
    @include flex-hstack(flex-start, 10vw);
  }

  &__title {
    @include section-title;

    @include on-tablet {
      white-space: nowrap;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
  }
}

/* #endregion */
