@use '../utils/variables.scss' as *;
@use '../utils/mixins' as *;

/* #region main */
.main {
  color: $color-white;
  background-color: #1d1d1d;
  font-family: $font-primary;

  @include flex-vstack(center, 92px);

  @include on-tablet {
    @include flex-vstack(center, 120px);
  }

  &__intro {
    margin-top: 60px;

    @include on-tablet {
      margin-block: 120px 12px;
    }
  }

  &__contacts {
    margin-top: -12px;
    margin-bottom: 120px;
  }
}

/* #endregion */
