@use '../utils/variables.scss' as *;
@use '../utils/mixins' as *;

/* #region menu */
.menu {
  background-color: #c2c2c2;

  padding-inline: $mobile-in-padding;

  @include on-tablet {
    padding-inline: $tablet-in-padding;
  }

  @include on-desktop {
    padding-inline: $desktop-in-padding;
  }

  &__top-bar {
    padding-inline: 0;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 8px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;

    color: #1d1d1d;
    text-decoration: none;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
  }

  &__call-to-order {
    display: block;
    width: fit-content;

    padding-bottom: 8px;
    border-bottom: 1px solid #1d1d1d;

    font-weight: 600;
    font-style: SemiBold;
    line-height: 16px;
    color: #1d1d1d;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: env(safe-area-inset-bottom);
    text-decoration: none;
  }
}

/* #endregion */
