/* #region top-bar */
.top-bar {
  padding-inline: 20px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}

/* #endregion */
