@use './utils/container.scss';
@use './blocks/page';
@use './blocks/top-bar';
@use './blocks/icon';
@use './blocks/header';
@use './blocks/menu';
@use './blocks/nav';
@use './blocks/main';
@use './blocks/intro';
@use './blocks/catalogue';
@use './blocks/bike-card';
@use './blocks/features';
@use './blocks/feature-card';
@use './blocks/contacts';
@use './blocks/contact-form';
@use './blocks/contact-details';
@use './blocks/footer';

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
picture {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
