@use './variables.scss' as *;
@use './mixins.scss' as *;

.container {
  display: block;
  width: 100%;
  margin-inline: auto;
  max-width: 280px;

  @include on-tablet {
    max-width: 600px;
  }

  @include on-desktop {
    max-width: 1020px;
    padding-inline: 0;
  }
}
