$color-black: #1d1d1d;
$color-white: #fff;
$color-gray: #7e7e83;
$color-deep-gray: #e8e8f066;
$color-bg-input: #f8f8fa;
$mobile-in-padding: 20px;
$tablet-in-padding: 72px;
$desktop-in-padding: 120px;
$radius-btn: 40px;
$transition-duration: 0.3s;
$font-primary: Poppins, sans-serif;
$bp-tablet: 744px;
$bp-desktop: 1260px;
